*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.linharoxo {
    display: flex;
    justify-content: end;
    align-items:last baseline;
    gap: 20px;
    background-color: #e6cfff;
    width: 100vw;
    height: 20vh;
}
.roxo {
    display: flex;
    gap: 20px;
    background-color:rgb(179, 127, 246);
    width: 12vh;
    height: 6vw;
    border-radius: 50%;
}
.linhaverde {    
    display: flex;
    justify-content: end;
    align-items:center;
    gap: 20px;
    background-color: #e9fdd8;
    width: 100vw;
    height: 20vh;
}
.verde {
    display: flex;
    gap: 20px;
    background-color:rgb(118, 199, 118);
    width: 12vh;
    height: 6vw;
    border-radius: 50%;
}

.linhavermelha{    
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    background-color: #f5bbbb;
    width: 100vw;
    height: 20vh;
}
.vermelho {
    display: flex;
    gap: 20px;
    background-color:rgb(179, 96, 96);
    width: 12vh;
    height: 6vw;
    border-radius: 50%;
}

